<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body class="" style="background-image: url(static/img/hack.JPG);">
		
		<nav class="navbar navbar-light bg-faded justify-content-center">
			<h2 class="main-title">
				DEBIK.PP.UA
			</h2>
		</nav>
				
		<main>
			{% block main %}
			{% endblock %}
		</main>
	</body>
</html>

        