{% extends 'base.html'%}

{% block main %}
	<div class="container">
		<div class="row">
			
			<div class="col-md"></div>
			<div class="col-md">
				
				<div class="form-group">
					<form method="post" action="{{url_for('index')}}">
							
							<div class="form-group">
								<!--<label for="password_input">Password</label>-->
								{% with messages = get_flashed_messages() %}
									{% if messages %}
										<input id="password_input" class="form-control bg-transparent is-invalid" name="password" type="text" 
										autocomplete="off" spellcheck="false"> 
										<div class="invalid-feedback">{{messages[0]}}</div>
									{% else %}
									<input id="password_input" class="form-control bg-transparent" name="password" type="text" 
									autocomplete="off" spellcheck="false"> 
									{% endif %}
							{% endwith %}
								
							</div>

							<button class="btn btn-success btn-block hack-btn" type="submit">
								Login
							</button>
	
					</form>
				</div>
				
			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}